.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    .logo-img {
        max-height: 65px;
    }

    &-info {
        border-top: 1px solid #232323;
        padding: 5px 60px;
        background-color: $footerBgColor;
        font-size: 14px;
        line-height: (24/14);
        color: $footerFontColor;

        a {
            &:hover {
                color: $footerLinkColorActive;
                text-decoration: underline;
            }
        }
    }

    &-details {
        padding-top: 25px;
    }

    &-social {
        padding-top: 20px;
    }
}

.pre-footer {
    padding: 20px 0;
    background-color: lighten(#555, 10%);
}
