.pre-header {
    padding: 5px 0;
    background-color: $preHeaderBgColor;
    color: $preHeaderColor;
}

.page-header {
    padding: 10px 0;
    background-color: $headerBgColor;
    color: $headerFontColor;
}

.header {
    padding: 5px 60px;
    background-color: $headerBgColor;

    &.is-front {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 96;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
    }

    &,
    .fa,
    .phone-number {
        color: $headerFontColor;
        font-size: 14px;
        line-height: (24/14);
    }

    &-phone {
        padding-top: 28px;
    }

    &-nav {
        padding-top: 20px;
    }
}

.logo {
    &,
    &-link,
    &-img {
        display: inline-block;
        vertical-align: middle;
    }
}

.phone {
    @extend %reset-list;
    font-size: 0;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;
    }

    &-number {
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        line-height: (24/14);

        &:hover {
            text-decoration: underline;
        }
    }
}

.social {
    @extend %reset-list;
    font-size: 0;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 7px;
    }

    &-link {
        display: block;
        width: 34px;
        height: 34px;
        line-height: 34px;
        text-align: center;
        text-decoration: none;
        background-color: #e15b56;
        @include border-radius(50%);
        @extend %smooth_animation;

        &,
        .fa {
            color: #fff;
            font-size: 18px;
        }

        &:hover {
            background-color: darken(#e15b56, 5%);
        }
    }
}

.lang {
    @extend %reset-list;

    &,
    &-item {
        display: inline-block;
        vertical-align: middle;
    }

    &-item {
        margin: 0 5px;

        a {
            display: block;
        }
    }
}
